<div class="he">
    <h1>
        <i>
            Explore the Beyond 
        </i>

    </h1>
</div>



<mat-card>
    <form class="postForm" (submit)="onPostData(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input type="text" matInput name="title" placeholder="Post Title here" required ngModel>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput name="content"  rows="10" placeholder="Post Content" required ngModel></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" >
            Save Post
        </button>
    </form>
</mat-card>
<app-postlist>

</app-postlist>
