.dash{
    width: 500px;
    border-radius: 15px;
    background-color: rgb(42, 33, 33);
    // align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 30px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}