mat-sidenav{
    background-color: #0f172a;
    width: 250px;
    height: 100%;
}
mat-sidenav-content{
    height: 100vh;
    background-color: cadetblue;
    .main{
        margin-left: 50px;
    }
}
mat-toolbar{
    mat-icon{
        margin-left: 15px;
        color: gray;
    }
    justify-content: space-between;
    .box{
        margin-top: 15px;
    }
}